html,
body {
  margin: 0;
  background-color: #eae6e6;
}

#root {
  max-height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #f2e2e1;
}

/* a {
  color: #5F98AE;
  text-decoration: none;
} */

/* span > a:visited {
  color: #5F98AE;
} */

a {
  color: #f2d4d6;
}

span a:visited {
  color: #f2d4d6;
}

a:hover {
  color: #f2d4d6;
}

nav > a {
  color: #f5f5f5;
  font-size: 1rem;
}

nav > a:visited {
  color: #f5f5f5;
}

/* .footer a {
  color: #f5f5f5;
  font-size: 1rem;
} */

.reg-link {
  color: #1f1f23 !important;
}

.reg-link:visited {
  color: #1f1f23 !important;
}

.reg-link:hover {
  color: #1f1f23 !important;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

/* .page {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
} */

.card-item {
  height: inherit;
  place-items: center;
}

select {
  border: none;
}

nav dxz{
  color: #E5E7EB;
}

li {
  list-style: none;
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

.MuiButtonBase-root {
  color: #f8f8f8;
}

.foot {
  border: 1px solid red;
}
/* @content-padding: 2.5%;
@brick-padding: 25px;
@content-background: #fff;
@chart-size: 250px;
@chart-swatch-size: 12px; */